---
import { storyblokEditable } from "@storyblok/astro";
import RichTextRenderer from "@storyblok/astro/RichTextRenderer.astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} class="container grid md:grid-cols-3 gap-0 md:gap-8 prose max-w-none min-h-[240px]">
  <section class="flex flex-col">
    <RichTextRenderer richTextData={blok.left} />
  </section>

  <section class="flex flex-col gap-0 prose-p:my-1">
    <RichTextRenderer richTextData={blok.center} />
  </section>

  <section class="justify-self-end mt-auto mb-8">
    {blok.copyright}
  </section>
</div>