---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  <div
  style={{ "--cols-count": `repeat(${blok.columnCount ?? 3}, minmax(0, 1fr))` }}
    class='container mx-auto grid md:grid-cols-[--cols-count] gap-2 md:gap-4 place-items-center content-stretch'
  >
    {
      blok.columns?.map((blok) => {
        return <StoryblokComponent blok={blok} />
      })
    }
  </div>
</div>
