---
import { Wordmark } from "@/components/global/wordmark";
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<figure>
  <section class="bloom conic-slate blur-[50px] -left-32 top-4"></section>
  <section class="bloom conic-indigo blur-[120px] -right-6 -bottom-4"></section>
  <Wordmark {...storyblokEditable(blok)} />
</figure>

<style>
  figure {
    @apply flex relative flex-col;
  }

  figure svg,
  .bloom {
    @apply aspect-square h-64 md:h-[55%];
  }

  .conic-slate {
    @apply bg-[conic-gradient(at_left,_var(--tw-gradient-stops))] from-slate-100 via-slate-300 to-indigo-600;
  }

  .conic-indigo {
    @apply bg-[conic-gradient(at_bottom_right,_var(--tw-gradient-stops))] from-indigo-50 via-indigo-100 to-slate-400;
  }

  .bloom {
    @apply absolute z-[-1] rounded-full transition-all;
    animation: pulse 5s cubic-bezier(0, 0, 0, 0.5) infinite,
      glow 5s linear infinite;
  }

  @keyframes glow {
    0% {
      @apply bg-slate-50/50;
    }
    33% {
      @apply bg-stone-300/50;
    }
    66% {
      @apply bg-neutral-500/50;
    }
    100% {
      @apply bg-slate-50/50;
    }
  }
  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
      transform: scale(0.7);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.3);
    }
  }
</style>
