---
import { storyblokEditable } from "@storyblok/astro";

import RichTextRenderer from "@storyblok/astro/RichTextRenderer.astro";

const { blok } = Astro.props;
---

<div
  {...storyblokEditable(blok)}
  class="flex flex-col gap-4 justify-center w-11/12 lg:w-1/2"
>
  <h2 class="outward text-outward-5xl">{blok.Greeting}</h2>

  <div class="prose">
    <RichTextRenderer richTextData={blok.Details} />
  </div>
</div>

<style>
  .outward {
    font-family: "outward-block";
  }
</style>
