---
import { storyblokEditable } from "@storyblok/astro";

import RichTextRenderer from "@storyblok/astro/RichTextRenderer.astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} class="prose max-w-none grid justify-center">
  <div class="max-w-3xl">
    <div class="prose-xl">
      <RichTextRenderer richTextData={blok.Lead} />
    </div>

    <RichTextRenderer richTextData={blok.CallToAction} />
  </div>
</div>

<style>
  .outward {
    font-family: "outward-block";
  }
</style>
