---
import {
  NotebookPreview,
  NotebookWrapper,
} from "@/components/global/notebookWrapper";
import { useStoryblokWrapper } from "@/lib/storyblok/wrapper";
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;

const introduction = {
  lead: "Featured",
  description: "",
};

const { getStories } = useStoryblokWrapper();
const uuids = blok.notes.join(",");
const {
  data: { stories },
} = await getStories({ by_uuids_ordered: uuids });
---

<NotebookWrapper
  {...storyblokEditable(blok)}
  lead={introduction.lead}
  description={introduction.description}
>
  {
    stories.length === 0 ? (
      <div>Sorry.. I haven't taken the pencil and paper out in a while...</div>
    ) : (
      stories?.map((story) => {
        return (
          <NotebookPreview href={{url: story.full_slug, cached_url: ""}} title={story.name}>
            <div class="prose-sm border p-4 border-slate-100 rounded">
              <div class="max-h-80 overflow-hidden">
                <StoryblokComponent blok={story.content} />
              </div>

              <div>...</div>
            </div>
          </NotebookPreview>
        );
      })
    )
  }
</NotebookWrapper>
