---
import {
  NotebookPreview,
  NotebookWrapper,
} from "@/components/global/notebookWrapper";
import { useStoryblokWrapper } from "@/lib/storyblok/wrapper";
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;

const introduction = {
  lead: "Notebook",
  description: "",
};

const { getStories } = useStoryblokWrapper();

const paginationContext = {
  page: 1,
  per_page: 25,
};

const {
  data: { stories },
} = await getStories({
  starts_with: "notebook/",
  excluding_slugs: "notebook/",
  ...paginationContext,
});
---

<NotebookWrapper
  {...storyblokEditable(blok)}
  lead={introduction.lead}
  description={introduction.description}
>
  {
    stories.length === 0 ? (
      <div>Sorry.. I haven't taken the pencil and paper out in a while...</div>
    ) : (
      stories?.map((story) => {
        return (
          <NotebookPreview href={{url: "", cached_url: story.slug}} title={story.name}>
            <div class="prose-sm">
              <div>{story.published_at}</div>
              <i>(Under construction)</i>
            </div>
          </NotebookPreview>
        );
      })
    )
  }
</NotebookWrapper>