---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<section
  style={{
    "--padding-x-small": blok.paddingDxSmall,
    "--padding-x-medium": blok.paddingDxMedium,
  }}
  class="container max-w-none px-[--padding-x-small] md:px-[--padding-x-medium] mx-auto"
  {...storyblokEditable(blok)}
>
  {
    blok.body?.map((blok) => {
      return <StoryblokComponent blok={blok} />;
    })
  }
</section>
