---
import { storyblokEditable } from "@storyblok/astro";
import { Separator as ShadcnSeparator } from "@/components/ui/separator";

const { blok } = Astro.props;
---

<div style={{ "--padding-small": blok.spacingSmall, "--padding-medium": blok.spacing }} class="py-[var(--padding-small)] md:py-[var(--padding-medium)]">
  {
    !blok.hidden && (
      <ShadcnSeparator
        orientation={blok.orientation}
        {...storyblokEditable(blok)}
      />
    )
  }
</div>
