---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <div class="container mx-auto flex flex-wrap gap-4 justify-center">
    {
      blok.content
        ?.filter((blok) => blok.visible)
        .map((blok) => {
          return <StoryblokComponent blok={blok} />;
        })
    }
  </div>
</div>
