---
import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  <h1 class='scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl'>
    {blok.headline}
  </h1>
</div>
