---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { useStoryblokWrapper } from "../lib/storyblok/wrapper";

const storyblokApi = useStoryblokWrapper();
let headerPromise = storyblokApi.getStory("global/header");
let footerPromise = storyblokApi.getStory("global/footer");

let [{ data: header }, { data: footer }] = await Promise.all([
  headerPromise,
  footerPromise,
]);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Adam Griswold | Fullstack Designer & Developer</title>
  </head>

  <body class="container px-4 md:px-8 min-h-[100vh] flex flex-col">
    <nav class="pt-4">
      {header && <StoryblokComponent blok={header.story.content} />}
    </nav>

    <main class="mx-auto">
      <slot />
    </main>

    <footer class="pb-4">
      {footer && <StoryblokComponent blok={footer.story.content} />}
    </footer>
  </body>
</html>
